.img__container {
    z-index: -99;
}

.img__container img {
    width: 100vw;
    height: 650px;
    opacity: 40%;
    object-fit: cover;
}

.container {
    position: relative;
}

.top__container {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-top: 10px;
    z-index: 2;
}

.top_left__container {
    padding-left: 55px;
    width: 100%;
}

.top_right__container {
    display: flex;
    gap: 30px;
    padding-right: 55px;
}

.select__lang {
    width: 75px;
    height: 35px;
    color: #fff;
    border-radius: 5px;
    background-color: black;
}

.netflix__text {
    width: 8.3rem;
    height: 4.3rem;
    color: #e50914;
    fill: #e50914 !important;
    line-height: normal;
    opacity: 100%;
    font-family: 'Netflix Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.login__button {
    width: 75px;
    height: 35px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 14px;
    font-weight: 400;
    background-color: #e50914;
}

.login__button a {
    width: 100%;
    height: 100%;
    color: #fff;
    text-decoration: none;
}

.login__button a :active {
    color: #fff;
    text-decoration: none;
}

.second__container {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 465px;
    padding: 0 150px;
}

.third__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 460px;
    padding: 0 100px;
}

.fourth__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.fourth__container_columns {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fourth__container h1 {
    color: white;
    font-size: 50px;
}

.li__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.desc__text_container {
    display: flex;
    justify-content: center;
}

.desc__text_3 {
    color: #fff;
    font-size: 19px;
    font-weight: 400;
    margin-top: 60px;
    margin-left: 35px;
}

.desc__input_container {
    display: flex;
    width: 100vw;
    justify-content: center;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 80px;
}
.desc__input {
    width: 450px;
    height: 60px;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    background-color: #fff;
}

.desc__button {
    width: 170px;
    height: 60px;
    border: none;
    color: #fff;
    font-size: 24px;
    border-radius: 3px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    background-color: #e50914;
}
