.login__form_container {
    position: relative;
    margin-top: 6vh;
    width: 450px;
    height: 650px;
    background-color: rgba(0, 0, 0, 0.7);
}

.login__form_container_h1 {
    padding: 40px 0 0 70px;
    color: white;
}

.login__form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input_container,
.login__button {
    position: relative;
    width: 313px;
    height: 50px;
    margin-bottom: 2vh;
}

.login__button {
    cursor: pointer;
}

.input {
    color: white;
    width: 100%;
    height: 100%;
    border-radius: 5px;
    border: none;
    background-color: #303030;
    outline: none;
    padding-left: 1.5vw;
    font-size: 16px;
    padding-left: 21px;
    padding-top: 20px;
}

.label {
    position: absolute;
    color: #8c8c8c;
    top: 35%;
    left: 7%;
    font-size: 16px;
}

.input:focus ~ .label {
    font-size: 11px;
    top: 18%;
    color: #8c8c8c;
    transition: all 0.1s linear;
}

.input:focus {
    background-color: rgb(71, 71, 71);
}

.focus__input {
    position: absolute;
    color: #8c8c8c;
    width: 100%;
    font-size: 11px;
    left: 7%;
    top: 20%;
}

.id__line {
    position: absolute;
    bottom: 1.5%;
    background-color: #e87c03;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 313px;
    height: 3px;
}

.pwd__line {
    position: absolute;
    top: 40.5%;
    background-color: #e87c03;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 313px;
    height: 3px;
}

.span__container {
    margin-top: -1.7vh;
    margin-bottom: 2vh;
    margin-right: 80px;
}

.pwd_span__container {
    margin-top: -1.7vh;
    margin-bottom: 2vh;
    margin-right: 115px;
}

.email__span {
    color: #e87c03;
    font-size: 13px;
}

.login__button {
    margin-top: 30px;
    background-color: #e50914;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 10px;
}

.login__option_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 70px 0 66px;
    font-size: 14px;
    color: #8c8c8c;
}

.login__option_container input {
    width: 17px;
    height: 17px;
    background: #737373;
}

.login__option_container input::after {
    color: black;
}

.login__option_container label {
    margin-left: -60px;
}

.login__option_container a {
    color: #8c8c8c;
    text-decoration: none;
    padding-top: 1px;
}

.login__option_container a:hover {
    color: #8c8c8c;
    text-decoration: underline;
}

.oauth__container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 55px;
    padding-right: 172px;
}

.oauth__container div {
    width: 15px;
    height: 15px;
}

.oauth__container div img {
    width: 20px;
    height: 20px;
    object-fit: cover;
}

.oauth__container a {
    margin-left: 15px;
    margin-top: 5px;
    font-size: 13px;
    color: #8c8c8c;
    text-decoration: none;
}

.oauth__container a:hover,
.signup__container a:hover {
    text-decoration: underline;
}

.signup__container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    margin-bottom: 15px;
}

.signup__container span {
    margin-left: -60px;
    color: #8c8c8c;
    font-size: 14px;
}

.signup__container a {
    margin-left: 5px;
    padding-bottom: 1px;
    font-size: 16px;
    color: #fff;
    text-decoration: none;
}

.captcha__text {
    display: inline-block;
    margin-left: 70px;
    color: #8c8c8c;
    font-size: 13px;
}

.captcha__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.captcha__container span {
    color: #8c8c8c;
    font-size: 13px;
    margin-left: -89px;
}

.captcha__container a {
    margin-left: 5px;
    color: #0071eb;
    text-decoration: none;
    font-size: 13px;
}

.captcha__container a:hover {
    text-decoration: underline;
}

.hidden {
    display: none;
}
